@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
  box-sizing: border-box; /* changes width property
  to total width instead of content width */
}

/*.content {
  width: 100%;
  margin: auto;
 }*/

#textRed {
 color: red;
}

.headerImage img {
  src="../weather/images/logo-blue.png";
}
.headerImage {
  display: none;
}

.title {
  display: inherit;
  position: relative;
  left: 1em;
  top: .5em;
}

.subTitle {
  position: relative;
  left: 8em;
}


article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
  display: block; /* just in case we have
  any older browsers that don't recognize
  the HTML5 semantic elements */
}

/*Attributes for the body*/
body {
  margin: 0; /* remove any margin from body */
  padding: 0; /* ditto for padding */
  background-color: rgba(250, 128, 114, 0.1);
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
}

/*Attributes for the main section*/
main {
  display: flex;
  flex-flow: column nowrap;
}

#currentConditions,
#currentTemperature,
#hourlyForecast {
  /*width: 100%;*/
  text-align: center;
}


/*Attributes for the nav bar general*/
nav {
  background-color: rgba(240, 124, 108, 0.9);
  position: fixed;
  bottom: 0;
  display: flex;
  font-size: .9em;
  /*width: 100%;*/
  /*padding: 1;*/
  /*display: flex;*/
}

/*Attributes for the nav bar listed items*/
nav > ul{
  list-style-type: none;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  line-height: 1em;
  padding: 1;
}


nav > ul{
  flex: 1 1 auto;
}

nav a:link {
  color: #4A4653;
  text-decoration:  none;
}

nav a:visited {
  color: #4A4653;
}

nav a:hover {
  color: #E7EF61;
}

nav a:active {
  color: #A6D8DB;
  background-color: #47556F;
}

/*Attributes second header at the title of the website
.title h1 + h1 {
  text-align: right;
  margin-top: -.7em;
}
*/
/*Font attribute for Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Sansita, Helvetica, sans-serif;
}

/*Heading H1 attributes*/
h1 {
  font-size: 1.3em;
}

/*Heading H2 attributes*/
h2 {
  font-size: 1.1em;
}

/*Header properties*/
header {
  background-color: rgba(231, 239, 97, 0.15);
}

/*Main properties*/
main {
  background-image: url("images/sunny-winter.jpg");
  background-size: cover;
}

/*Footer properties*/
footer {
  background-color: #E7EF61;
}

#currentConditions {
  background-color: rgba(200,200,200,.6);
  margin: .2em auto;
  border: 1px solid;
  border-radius: 5px;
}

/*Rotates a the id dice 25 degrees*/
#rotateDice {
  transform: rotate(25deg);
  display: inline-block;
}

#hourlyForecast {
  display: none;
}

#wind1, #wind2 {
  display: flex;
  flex-flow: row nowrap;
}

.leftCurrentConditions {
  width: 55%;
  flex-flow: row wrap;
  flex: 1 0 1;
  margin: .5em;
  text-align: right;
}

.rightCurrentConditions {
  width: 40%;
  flex-flow: row wrap;
  flex: 0 0 0;
  margin: .5em;
  text-align: left;
}


/*Desktop version*/
@media only screen and (min-width: 600px) {

  .content {
    width: 80%;
    max-width: 960px;
    margin: auto;
    /*padding: 10px;*/
  }

  main {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
  }


  #currentConditions,
  #currentTemperature,
  #hourlyForecast {
    width: 1 1 auto;
    width: 33%;
    margin-left: .1em;
  }

  #currentConditions,
  #hourlyForecast {
    background: rgba(166, 216, 219, 0.2);
  }

  #currentConditions {
    order: -1;
  }

  .headerImage img {
    src="../weather/images/logo-blue.png";
  }
  .headerImage {
    display: inherit;
    position: relative;
    top: 1em;
    left: 1em;
  }

  .subTitle {
    position: relative;
    flex-flow: wrap-reverse;
  }

  .title {
    display: none;
  }

  nav {
    position: relative;
    padding: .25em;
    flex-flow: row nowrap;
  }

  main {
    background-image: url("");
    background-size: cover;
  }

  #currentTemperature {
    color: aliceblue;
    background-image: url("images/sunny-winter.jpg");
    background-size: cover;
  }

  #currentConditions {
    margin: 0em;
    border: 0px;
    border-radius: 0px;
  }

  #hourlyForecast {
    display: block;
  }

  #hourlyForecast > ul {
    display: flex row;
    list-style-type: none;
  }

}
