@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
  box-sizing: border-box; /* changes width property
  to total width instead of content width */
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
  display: block; /* just in case we have
  any older browsers that don't recognize
  the HTML5 semantic elements */
}

/*Attributes for the body*/
body {
  margin: 0; /* remove any margin from body */
  padding: 0; /* ditto for padding */
  background-color: rgba(250, 128, 114, 0.1);
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
}

/*Attributes for the main section*/
main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


/*Attributes for the nav bar general*/
nav {
  background-color: rgba(240, 124, 108, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.1em;
  /*justify-content: space-around;
  flex-flow: wrap column;
  flex-direction: row;*/
}

/*Attributes for the nav bar listed items*/
nav > ul{
  list-style-type: none;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  line-height: 1em;
  align-content: space-between;
}

nav li{
  flex: 1 1 5em;
}

nav a:link {
  color: #4A4653;
  text-decoration:  none;
}

nav a:visited {
  color: #4A4653;
}

nav a:hover {
  color: #E7EF61;
}

nav a:active {
  color: #A6D8DB;
  background-color: #47556F;
  font-size: 1.105em;
}

/*Attributes second header at the title of the website*/
.title h1 + h1 {
  text-align: right;
  margin-top: -.7em;
}

/*Font attribute for Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Sansita, "second choice", generic-family;
}

/*Heading H1 attributes*/
h1 {
  font-size: 1.2em;
}

/*Heading H2 attributes*/
h2 {
  font-size: 1.1em;
}

/*Header properties*/
header {
  background-color: rgba(231, 239, 97, 0.9);
}

/*Main properties*/
main {
  background-image: url("images/sunny-winter.jpg");
  background-size: cover;
}

/*Footer properties*/
footer {
  background-color: #E7EF61;
}

#currentConditions {
  background-color: rgba(200,200,200,.6);
  margin: .2em auto;
  border: 1px solid;
  border-radius: 5px;
}

/**/
#rotateDice {
  transform: rotate(25deg);
  display: inline-block;
}

/*Desktop version*/
@media only screen and (min-width: 600px) {

  #content {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
  }

  main {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #currentConditions,
  #currentTemperature,
  #hourlyForecast {
    margin: .5em;
    width: 30%;
    margin-left: .5em;
  }

  #currentConditions,
  #hourlyForecast {
    background: white;
  }

  #currentConditions {
    order: -1;
  }

}
